<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=0.8" />
	<meta name="format-detection" content="telephone=no" />

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="f/dist/style.css" />
	
	<script type="text/javascript" src="f/js/angular.min.js"></script>
	<script type="text/javascript" src="f/js/app.js"></script>
	
</head>
<body ng-app="twistApp"
	  ng-class="{'modal_open': isModalOpen}">
	
	<div class="page page-video"
		 ng-class="{'page__fade-in': true}">
		<div class="header">
			<div class="header__logo">
				<a href="/"><img src="/f/img/main/logo-black.png" alt="" /></a>
			</div>

			<div class="header__menu">
				<ul>
					<li><a href="video" class="bold">Видео</a></li>
					<li><a href="contacts" class="bold">Контакты</a></li>
				</ul>
			</div>
		</div>
		
		<div class="video-feed" ng-controller="VideoCtrl">

			<div class="video-feed__item"
				 ng-repeat="(key, item) in videoParam.data.items"
				 ng-controller="VideoItemCtrl"
				 ng-click="videoFunc.setExpandData(key)"
				 ng-mouseenter="videoItemFunc.playVideo()"
				 ng-mouseleave="videoItemFunc.stopVideo()">
				<div class="video-feed__item-title">
					{{::item.name}}
					<div class="video-feed__item-title-add">
						{{::item.text}}
					</div>
				</div>
				
				<div class="video-feed__item-video-container">
					<div class="video-feed__item-video-image"
						 ng-show="videoItemParam.play === false"
						 style="background: url({{::item.poster}}) no-repeat;"></div><!--
					
					--><video class="video-feed__item-video" playsinline muted loop>
						<source src="{{::item.video_mp4}}" type="video/mp4">
						<source src="{{::item.video_ogv}}" type="video/ogg">
						<source src="{{::item.video_webm}}" type="video/webm">
					</video>
				</div>
			</div>
			
			<div class="video-feed__expand-container"
				 ng-class="{'video-feed__expand-container_open': videoParam.expandOpen}">
				<div class="video-feed__expand">
					<iframe width="960"
							height="540"
							ng-src="{{videoFunc.getVideoSrc()}}"
							frameborder="0"
							allowfullscreen></iframe>

					<div class="video-feed__expand-data">

						<div class="video-feed__expand-data-text">
							<p>{{videoParam.expand.name}}</p>
							<p>{{videoParam.expand.text}}</p>
						</div>

						<div class="video-feed__expand-data-control">
							<div class="video-feed__expand-data-control-left"
								 ng-class="{allow: videoParam.allowPrev}"
								 ng-click="videoFunc.goPrev();"></div>

							<div class="video-feed__expand-data-control-right"
								 ng-class="{allow: videoParam.allowNext}"
								 ng-click="videoFunc.goNext();"></div>

							<div class="video-feed__expand-data-control-close allow"
								 ng-click="videoFunc.closeExpandData();"></div>

						</div>

					</div>
					
				</div>
				
			</div>
			
		</div>

		<div class="footer">
			<div class="footer__copyright">
				©&nbsp;2017&nbsp;Twist Film Lab
			</div>

			<div class="footer__developer">
				Сделано в&nbsp;<nobr>bro-design.pro</nobr>
			</div>
		</div>
	</div>

</body>
</html>