.footer {
    box-sizing: border-box;
	clear: both;
	font-size: 14px;
    padding: 0 85px;
	width: 100%;
	min-width: 960px;
	
	&:after {
		content: '';
		clear: both;
		display: table;
	}
	
	&_fixed {
		bottom: 65px;
		left: 0;
		position: fixed;
	}

	@media (max-width: 960px) {
		padding-left: 32px;
		padding-right: 32px;
	}
	
	@media (max-width: 900px) {
		bottom: initial;
		left: initial;
		position: initial;
		min-width: initial;
	}
	
	&__copyright {
		float: left;
		width: 50%;
	}
	
	&__developer {
		float: left;
		text-align: right;
		width: 50%;
	}
	
}
