body {
	&.modal_open {
		overflow: hidden;
	}
}


.page {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	min-width: 960px;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;

	@media (max-width: 900px) {
		min-width: initial;
	}
	
	&__fade-in {
		opacity: 1;
	}
	
	a {
		border-bottom: 1px solid #000;
		color: #111;
		text-decoration: none;
		
		&:hover {
			opacity: 0.8;
			transition: opacity 0.23s ease-in-out;
		}

	}
	
	a.pseudo {
		border-bottom-width: 2px;
		border-bottom-style: dotted;
	}
	
	a.bold {
		border-bottom-width: 2px;
	}

}
