.page-video {
	padding: 65px 85px;
	
	@media (max-width: 960px) {
		padding-left: 32px;
		padding-right: 32px;
	}
	
	.header {
		box-sizing: border-box;
		padding: 65px 85px 0;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		min-width: 960px;
		
		@media (max-width: 960px) {
			padding-left: 32px;
			padding-right: 32px;
		}
	}
}
