.page {
	font-family: 'Roboto', sans-serif;
	min-width: 960px;
	
	a {
		border-bottom: 1px solid #000;
		color: #111;
		text-decoration: none;
		
		&:hover {
			opacity: 0.8;
			transition: opacity 0.23s ease-in-out;
		}

	}
	
	a.pseudo {
		border-bottom-width: 2px;
		border-bottom-style: dotted;
	}
	
	a.bold {
		border-bottom-width: 2px;
	}

}
